* {
    box-sizing: border-box;
}

body{
    margin:0px;
}

.background {
    background: url("https://cdn.pixabay.com/photo/2015/10/11/12/48/chess-982260__340.jpg") no-repeat;
    background-size: 100% 100%;
    height: 350px;
}

.nav{
    background-color:rgb(114, 206, 223);
    color: black;
    height: 30px;
    
    margin:0;
}

.my-name{
    line-height:30px;
    font-size: 18px;
    margin-left: 30px;
    color: rgb(61, 58, 61);
    
}

.nav-text{
    color: rgb(61, 58, 61);
    border: none;
    font-family: 'Julius Sans One', sans-serif;
    }

.right-navlinks{
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}




.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: 0.4s;
  }


a:hover {
    cursor: pointer;
}

.nav-icon:hover {
    cursor: pointer;
}


a{
    text-decoration: none;
}

.text-container {
    text-align: center;
    margin-top: 100px;
    
}

h1.background-text{
    line-height: 0px;
    color: whitesmoke;
    font-size: 20px;
    display: inline-block;
}

p.background-text{
    line-height: 0px;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.hiddennav{
    display: none;
}


.dropdown-content {
    display: none;
    text-align: right;
    background-color:rgb(114, 206, 223);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 12px;
    padding-right: 10px;
  }

  .other-navlinks{
    padding: 8px;
}

.show {
      display:initial;
    }

.main{
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

h2{
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;

}


   


.bioimg-container{
    text-align: center;
    margin-top: 50px;
    
}
div.bio-container {
    margin-top: 50px;
    width: 340px;
    line-height: 24px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    
    
}

.highlight{
    font-weight: 400px;
    color:rgb(53, 141, 156);
}


#portfolio{
    margin-top: 150;
}



.portfolioimg-container{
    text-align: center;
    
    
    
}

.portfolio-img{
    width:320;
}


.quizzapp-container{
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    font-size: 14px;
    margin-top: 25px;
    
}

.github-container{
    text-align: center;
    font-size: 14px;
}

.github-link{
    background-color:rgb(53, 141, 156);
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
    color: black;
}

section#philosophy{
    margin-top: 150;
    
    
}


.philo-container{
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    line-height: 24px;
    font-size: 12px;
}



