* {
    box-sizing: border-box;
}

.background {
    background: url("https://cdn.pixabay.com/photo/2015/10/11/12/48/chess-982260__340.jpg") no-repeat;
    background-size: 100% 100%;
    height: 400px;
}



.text-container {
    text-align: center;
    margin-top: 120px;
    
}

h1.background-text{
    line-height: 0px;
    color: whitesmoke;
    font-size: 40px;
    display: inline-block;
}

p.background-text{
    line-height: 0px;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}


.nav{
    font-weight: 400px;
    background-color:rgb(114, 206, 223);
    color: black;
    height: 30px;
    font-size: 18px;
}

.nav-text{
    color: rgb(61, 58, 61);
    border: none;
    font-family: 'Julius Sans One', sans-serif;
    
}



.my-name{
    font-size: 24px;
    margin-left: 30px;
    color: rgb(61, 58, 61);
    
}

.other-navlinks{
    padding: 8px;
}

.right-navlinks{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}


a:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
}



.main{
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
.bio-header{
    text-align: center;
    color: black;
}
.bioimg-container{
    text-align: center;
    margin-top: 50px;
    
}
div.bio-container {
    margin-top: 50px;
    width: 600px;
    line-height: 24px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.highlight{
    font-weight: 400px;
    color:rgb(53, 141, 156);
    

    
    
}


#portfolio{
    margin-top: 150;
}

h2.portfolio-header{
    text-align: center;
}

.portfolioimg-container{
    text-align: center;
    
}

.portfolio-img{
    height:370;
}


.quizzapp-container{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    font-size: 18px;
}

.github-container{
    text-align: center;
}

.github-link{
    background-color:rgb(53, 141, 156);
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
    color: black;
}

section#philosophy{
    margin-top: 150;
    
    
}
.philo-header{
    text-align: center;
}

.philo-container{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    line-height: 24px;
    font-size: 18px;
}



